# Node / frontend
frontend/node_modules/
frontend/dist/
# Ignore all images in ArtBench
datasets/Artbench/images/

# Ignore all images in WikiArt (all subfolders)
datasets/Wikiart/**/

# Python / backend
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# Environment files
.env
.env.*

# OS / editor
.DS_Store
Thumbs.db
.vscode/
